.param-card {
  width: 7rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s;
 }
.param-card:hover {
  transform: scale(1.05);
}
@media (min-width: 640px) {
  .param-card {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .param-card {
    width: 8rem;
    height: 8rem;
  }
}
#water {transition: stroke-dashoffset 0.5s ease;}
#container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#emoji {
  font-size: 2rem;
  color: rgb(255, 85, 0);
  z-index: 10;
}
#valueDisplay {
  font-weight: bold;
  font-size: 1rem;
  z-index: 10;
}
#kondisiCuaca {
  font-size: 0.875rem; /* text-sm */
  color: #4B5563; /* gray-600 */
  margin-top: 0.25rem; /* mt-1 */
  z-index: 10;
}
#clock {
  font-size: 0.875rem;
  color: #6B7280; /* gray-500 */
  margin-top: 0.25rem;
  z-index: 10;
}
#rumahPenelitian {
  font-size: 0.875rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;
  z-index: 10;
  text-align: center;
}
.new-entry {
  background-color: #fffae6;
  transition: background-color 0.5s ease;
}
